body {
  margin: 0;
  font-size: medium;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  background-color: black;
}

.section_content_side div {
  line-height: 1.8em;
}

nav {
  height: 64px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 3;
  background-color: black;
}

nav a {
  margin: 15px;
  font-weight: bolder;
  color: inherit;
  text-decoration-line: none;
}

nav .icon {
  display: none;
  margin: 14px 16px;
}

/* mouse over link */
a:hover {
  color: rgb(255, 94, 0);
}

/* selected link */
a:active {
  color: rgb(255, 94, 0);
}

main {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 100px;
}

#home * {
  width: 50%;
  text-align: left;
  min-width: 250px;
}

#home_text h1 {
  color: rgb(255, 94, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#home_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  filter: drop-shadow(6px 6px 6px rgba(50, 50, 0, 0.5));
}

#profile_image {
  border-radius: 15px;
  z-index: 1;
}

#bg_square {
  border-radius: 15px;
  background-color: rgb(255, 94, 0);
  width: 200px;
  height: 300px;
  position: absolute;
  right: 18%;
}

.social_icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#github,
#linkedin,
#twitter {
  color: rgb(255, 94, 0);
  min-width: unset;
  width: 30%;
}

.social_icons :hover {
  color: white;
}

#shape {
  display: flex;
  min-width: unset;
  width: 150px;
  height: 150px;
  background-color: white;
  clip-path: circle(50% at 50% 50%);
  justify-content: center;
  align-items: center;
}

#inner-shape {
  display: flex;
  min-width: unset;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 94, 0);
  clip-path: circle(50% at 50% 50%);
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: width 2s, height 2s;
}

#inner-shape:hover {
  width: 150px;
  height: 150px;
}

.section {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.section_title {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section_title span {
  color: rgb(255, 94, 0);
}

.section_title h1 {
  margin-bottom: 0;
}

.section_content {
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section_content h2 {
  color: rgb(255, 94, 0);
}

.section_content > * {
  min-width: 300px;
  max-width: 40%;
}

#about_me_image {
  width: 30%;
}

.section_content_side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#download_btn {
  width: 150px;
  height: 42px;
  color: #fff;
  background-color: rgb(255, 94, 0);
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: 6px 6px 6px rgba(50, 50, 0, 0.5);
}

.section_content_side a {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#download_btn:hover {
  color: black;
}

#services img {
  width: 300px;
  height: 300px;
}

.service_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services_title {
  background-color: rgb(255, 94, 0);
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
}

.service_box:last-child {
  justify-content: center;
}

footer {
  margin-top: 40px;
  width: 100%;
  height: 150px;
  background-color: rgb(255, 94, 0);
  clip-path: polygon(50% 0%, 100% 35%, 100% 100%, 50% 100%, 0 100%, 0 36%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

footer a {
  color: black;
  text-decoration-line: none;
}

footer a:hover {
  color: white;
  cursor: pointer;
}

/* Media Querries */

@media screen and (max-width: 500px) {
  nav {
    justify-content: flex-start;
  }

  nav a {
    display: none;
  }

  nav .icon {
    display: block;
    right: 0;
    width: 23px;
  }

  #home {
    padding-top: 0;
  }

  .responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    height: auto;
    top: 0;
  }

  .responsive a {
    display: block;
  }

  .responsive > *:last-child {
    position: absolute;
    top: 8px;
    left: 0;
  }

  .responsive + main {
    margin-top: auto;
  }
}

@media screen and (max-width: 1200px) {
  #bg_square {
    display: none;
  }
}
